In [21]:
import pandas as pd
import numpy as np
import ast
"""import pandas_profiling"""

'import pandas_profiling'

Procedemos con levantar el archivo 'output_steam_games' que se encuentra en formato '.json'

In [22]:
#Leemos el archivo '.json' utilizando la libreria 'pandas'.
games = pd.read_json('DataBases\output_steam_games.json', lines=True)

In [23]:
#Consultamos la dimensi√≥n de la base de datos.
games.shape

(120445, 13)

In [24]:
#Vemos cual es la el formato de los valores de cada fila. 
games.dtypes

publisher        object
genres           object
app_name         object
title            object
url              object
release_date     object
tags             object
reviews_url      object
specs            object
price            object
early_access    float64
id              float64
developer        object
dtype: object

Realizamos una verificacion rapida para ver cuantos valores nulos tenemos.

In [25]:
games.isnull().sum()

publisher       96362
genres          91593
app_name        88312
title           90360
url             88310
release_date    90377
tags            88473
reviews_url     88312
specs           88980
price           89687
early_access    88310
id              88312
developer       91609
dtype: int64

Vemos que la base de datos de juegos de steam cuenta con demasiados valores nulos. Algor que vamos a resolver en el ETL.

#Ahora vamos a levantar la base de datos "australian_user_items"

In [26]:
#Ya que el archivo json no se encuentra bien formateado vamos a leer linea por linea
# para transformarlo en un dataframe con el que podamos trabajar.
rows = []
with open('DataBases/australian_users_items.json',encoding='MacRoman') as f: 
  for line in f.readlines():
    rows.append(ast.literal_eval(line))

items = pd.DataFrame(rows)

In [27]:
#Imprimimos el 'head' del dataframe para comprobar que se ha leido bien el '.json'
items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

Se puede ver que se encuentran anidadas en la columna 'items' muchos datos con los cuales vamos a tener
trabajar, por lo cual vamos a trabajar ese apartado en el proceso de las transformaciones.

In [28]:
#Guardamos para no tener que leer el .json de vuelta ante un error.
items.to_parquet('DataBases/items.parquet', index=False)

In [29]:
#Imprimimos la dimension del dataframe.
items.shape

(88310, 5)

In [30]:
#Consultamos los formatos de los valores para ver con que nos vamos a encontrar.
items.dtypes

user_id        object
items_count     int64
steam_id       object
user_url       object
items          object
dtype: object

In [31]:
#Precedemos a ver la cantidad de valores nulos por columna.
items.isnull().sum()

user_id        0
items_count    0
steam_id       0
user_url       0
items          0
dtype: int64

In [32]:
#Al ver que tenemos una columna con datos de formato 'integer' sacamos una descripcion de los mismos.
items.describe()

        items_count
count  88310.000000
mean      58.353629
std      122.312095
min        0.000000
25%        3.000000
50%       26.000000
75%       73.000000
max     7762.000000

Ahora vamos a levantar la base de datos "australian_user_reviews"

In [33]:
#En este caso sucede lo mismo que con el 'json' de items, asi que repetimos el proceso para levantarlo como dataframe.
rows = []
with open('DataBases/australian_user_reviews.json',encoding='MacRoman') as f:
  for line in f.readlines():
    rows.append(ast.literal_eval(line))
reviews = pd.DataFrame(rows)

In [34]:
#Imprimimos la dimension del dataframe.
reviews.shape

(25799, 3)

In [35]:
#Precedemos a ver la cantidad de valores nulos por columna.
reviews.isnull().sum()

user_id     0
user_url    0
reviews     0
dtype: int64

In [36]:
#Consultamos el formato de los valores de cada columna.
reviews.dtypes

user_id     object
user_url    object
reviews     object
dtype: object

In [37]:
#Imprimimos las primeras 5 filas del dataframe.
reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

En este caso podemos ver que en la columna 'reviews' tenemos anidadas mas de una columna, por
lo que dentro del proceso de las transformaciones vamos a tener que solucionar.

In [39]:
#Y como en el caso del dataframe 'items' vamos a guardar los otros dataframes en formato '.csv' ya que ocupan menos espacio.
reviews.to_parquet('DataBases/reviews.parquet', index=False)

In [41]:
games.to_csv('DataBases/games.csv', index=False)